# The 'sed' s (substitute) command

syntax: sed 's/old/new' file

where:
* 'sed' invokes the sed program
* 's' is to substitute the 'old' text for the 'new' text in the file 'file'

In [11]:
# Example

cat dukeofyork.txt
printf "\n\n"
sed 's/the/THE/' dukeofyork.txt  # Substitutes 'the' for 'THE' in file 'dukeofyork.txt'

# The command only replaces the first occurance of 'the' in each line with 'THE'

# Note that the original file 'dukeofyork.txt' is unmodified
printf "\n\n"
cat dukeofyork.txt

The grand old Duke of York
He had ten thousand men
He marched them up to the top of the hill
And he marched them down again
And when they were up they were up
And when they were down they were down
And when they were only half-way up
They were neither up nor down


The grand old Duke of York
He had ten thousand men
He marched THEm up to the top of the hill
And he marched THEm down again
And when THEy were up they were up
And when THEy were down they were down
And when THEy were only half-way up
They were neiTHEr up nor down


The grand old Duke of York
He had ten thousand men
He marched them up to the top of the hill
And he marched them down again
And when they were up they were up
And when they were down they were down
And when they were only half-way up
They were neither up nor down

In [14]:
# To save the new modified file, we can redirect the output to a new file:

sed 's/the/THE/' dukeofyork.txt > modified_dukeofyork.txt
cat modified_dukeofyork.txt
printf "\n\n"
ls

The grand old Duke of York
He had ten thousand men
He marched THEm up to the top of the hill
And he marched THEm down again
And when THEy were up they were up
And when THEy were down they were down
And when THEy were only half-way up
They were neiTHEr up nor down


array.c  dukeofyork.txt  modified_dukeofyork.txt  sed_s_command

In [15]:
# Can specify more than one file to be modified:

sed 's/the/THE/' dukeofyork.txt array.c

The grand old Duke of York
He had ten thousand men
He marched THEm up to the top of the hill
And he marched THEm down again
And when THEy were up they were up
And when THEy were down they were down
And when THEy were only half-way up
They were neiTHEr up nor down
/* array.c -- read, reverse, and write an array of integers */

#include <stdio.h>

#define MAX 10

void intSwap(int *x, int *y);
int getArray(int a[], int max, int terminator);
void printArray(int a[], int n);
void reverseArray(int a[], int n);

int main(void)
{
	int x[MAX];
	int howMany;

	howMany = getArray(x, MAX, -1);
	printf("Read THE following array:\n");
	printArray(x, howMany);
	reverseArray(x, howMany);
	printf("After being reversed:\n");
	printArray(x, howMany);
}

/* swap THE contents of x and y */
void intSwap(int *x, int *y)
{
	int tmp = *x;
	*x = *y;
	*y = tmp;
}

/* print THE first n elements in the array a */
void printArray(int a[], int n)
{
	int i;

	for ( i=0; i<n; i++ ) {
		printf("\t%d\n", a[i]);
	}
}

/* get up to max integers from THE user and store them in a;
 * terminator marks end of input */
int getArray(int a[], int max, int terminator)
{
	int n = 0;
	int tmp;

	do {
		printf("Enter integer [%d to terminate] : ", terminator);
		scanf("%d", &tmp);
		if ( tmp==terminator ) {
			break;
		}
		if ( n>=max ) {
			printf("Sorry, array is full\n");
			return n;
		} else {
			a[n++] = tmp;
		}
	} while ( 1 );
	return n;
}

/* reverse THE order of the first n elements of a */
void reverseArray(int a[], int n)
{
	int i;

	for ( i=0; i<n/2; i++ ) {
		intSwap(&a[i], &a[n-i-1]);
	}
}

In [18]:
# If we omit a file argument, the changes are applied to standard input (use Ctrl-d to exit)
# This doesn't seem to work in this Jupyter notebook

sed 's/the/THE/'

In [19]:
# We can use sed without a file argument as the reciever of another bash command ('nl'
# numbers lines of it's input file):

nl dukeofyork.txt | sed 's/the/THE/'

     1	The grand old Duke of York
     2	He had ten thousand men
     3	He marched THEm up to the top of the hill
     4	And he marched THEm down again
     5	And when THEy were up they were up
     6	And when THEy were down they were down
     7	And when THEy were only half-way up
     8	They were neiTHEr up nor down

In [22]:
# sed can also take input using '<', then redirect its output using '>'
sed 's/the/THE/' < dukeofyork.txt > output.txt
cat output.txt
printf "\n\n"
ls

The grand old Duke of York
He had ten thousand men
He marched THEm up to the top of the hill
And he marched THEm down again
And when THEy were up they were up
And when THEy were down they were down
And when THEy were only half-way up
They were neiTHEr up nor down


array.c  dukeofyork.txt  modified_dukeofyork.txt  output.txt  sed_s_command

In [23]:
# Can issue the sed command without quotes (sed s/the/THE/) but this wouldn't work
# if there were spaces within the original or substituted text; It's best to ALWAYS
# quote the command. If the original or replacement text contains spaces or other
# system special symbols (like '$'), use double quotes to enclose the command and
# escape special symbols using '\'

# This example substitutes 'were' with '$were'nt'

sed "s/were/\"\$weren\'t\"/" dukeofyork.txt

The grand old Duke of York
He had ten thousand men
He marched them up to the top of the hill
And he marched them down again
And when they "$weren't" up they were up
And when they "$weren't" down they were down
And when they "$weren't" only half-way up
They "$weren't" neither up nor down

In [24]:
# To substitute out every occurance of the original text in a line (and not just the first
# occurance), use the 'g' modifier at the end of the command

sed 's/the/THE/g' dukeofyork.txt

The grand old Duke of York
He had ten thousand men
He marched THEm up to THE top of THE hill
And he marched THEm down again
And when THEy were up THEy were up
And when THEy were down THEy were down
And when THEy were only half-way up
They were neiTHEr up nor down

In [42]:
# The 'g' modifier substitutes out non-overlapping occurances of the original string.
# For example

echo "abababababa" > temp
sed 's/aba/---/g' temp
rm temp

---b---b---

In [43]:
# Using a number 'n' in place of the 'g' modifier will cause the nth occurance of the 'old'
# string to be replaced by the 'new' string.

# Example

echo "one and two and three and four and five and six and seven" > temp
sed 's/and/AND/5' temp
rm temp

one and two and three and four and five AND six and seven

In [44]:
# You don't have to use the '/' as a separator in the sed command as long as all
# the separator characters are the same.

# Example

sed 's?and?AND?' dukeofyork.txt

The grAND old Duke of York
He had ten thousAND men
He marched them up to the top of the hill
And he marched them down again
And when they were up they were up
And when they were down they were down
And when they were only half-way up
They were neither up nor down

In [30]:
Gary

Gary: command not found